/*FRONT*/
.card--product--card a,
.card--product--card--hover a {
  text-decoration: none;
  color: inherit;
}

.card--product--card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21rem;
  width: 16.5rem;
  background-color: rgb(5, 34, 34);
  border-radius: 8px;
  margin: 3px;
  margin-inline: 1.1rem 1.1rem;
  margin-block: 15px 15px;
  background-size: 100% 100%;
  background-position: center;
  box-shadow: inset 50rem 0 rgba(0, 0, 0, 0.7);
}

.card--image--card {
  display: none;
}

.card--title--card {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  padding-inline: 3px 3px;
}

.card--body--card {
  display: none;
}

/*HOVER*/
.card--product--card--hover {
  display: flex;
  flex-direction: column;
  height: 21rem;
  width: 16.5rem;
  background-color: black;
  border-radius: 8px;
  margin: 3px;
  box-shadow: 1px 1px 5px black;
  overflow: hidden;
  margin-inline: 1.1rem 1.1rem;
  margin-block: 15px 15px;
  background-image: none;
}

.card--title--card--hover {
  display: none;
}

.card--image--card--hover {
  height: 40%;
  background-color: rgb(5, 34, 34);
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
  background-size: 100% 100%;
}

.card--body--card--hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  background-color: black;
  padding-inline: 5px 5px;
  border-end-end-radius: inherit;
  border-end-start-radius: inherit;
  padding-block: 5px 15px;
  animation-name: cardDescription;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes cardDescription {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.card--title--body--card,
.card--description--card,
.card--button--card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card--title--body--card {
  height: 20%;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
}

.card--description--card {
  height: 60%;
  font-size: 14px;
}

.card--button--card {
  height: 15%;
  margin-top: 4%;
  font-size: 15px;
  color: black;
  background-color: beige;
  width: 60%;
  border-radius: 4px;
}
