.card--pro--l {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    width: 40vw;
    height: 50vw;
    margin-block: 10px 10px;
    margin-inline: 2vw 2vw;
    box-shadow: 1px 1px 5px black;
    background-image: url(../../images/Rectangle\ 11.png);
    background-size: cover;
    background-position: right;
    font-size: 15px;
}