@media (max-width:400px) {
    .card--pro {
        background-color: bisque;
        height: 24rem;
        width: 90vw;
        margin-block: 10px 10px;
    }
}

@media (min-width:400px) {
    .card--pro {
        background-color: bisque;
        height: 24rem;
        width: 18rem;
        margin-block: 10px 10px;
    }
}