@media (max-width:400px) {
    .card--pro {
        background-color: bisque;
        height: 24rem;
        width: 88vw;
        margin-block: 10px 10px;
        box-shadow: 1px 1px 5px black;
        background-image: url(../../images/Rectangle\ 11.png);
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: right;
    }
}

@media (min-width:400px) {
    .card--pro {
        background-color: bisque;
        height: 24rem;
        width: 18rem;
        margin-block: 10px 10px;
        box-shadow: 1px 1px 5px black;
        background-image: url(../../images/Rectangle\ 11.png);
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: right;
    }
}