div.card {
    width: 16em;
    height: 20em;
    display: inline-block;
    margin: 22px !important;
    border-radius: 10px;
    border: 0.1px solid #A9A18C;
    border-radius: 8px;
    background-size: cover;
    background-image: url('../../images/Rectangle\ 11.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text horizontally */
    position: relative;
    overflow: hidden;
    filter: brightness(1);
    transition: filter 0.3s ease-in-out;
    /* Add a gradient border */
    background-clip: padding-box;
}

div.card::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    z-index: -1;

    background: linear-gradient(45deg, #A9A18C, transparent, transparent, transparent);
    border-radius: 10px;
    transform: translateZ(-1px); /* Create the 3D effect */
    opacity: 0.8;
}
div.card:hover {
   cursor: pointer;
   filter: brightness(1.1);
}
div.card:hover .card-info {
    display: block;
    filter: brightness(1);
    animation: slide-up 0.6s ease;
}
div.card:hover .card-title{
    display: none;
    transition: display 0.6s;
}

.div.card-title {
    position: absolute;
}

.div.card-title h3{
    color: white;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
    
}
.card-info {
    background: black; /* Add some padding for spacing */
    width: 100%; /* Make sure the info takes the full width */
    box-sizing: border-box; /* Include padding in width */
    text-align: center;
    display: none;
    padding: 10px !important;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
}

.card-info button{
    
    margin-bottom: 10px;
}

div.card-body{
    display: none;
}

.card-container:hover .card-body{
    display: block;
    transition: display 0s 0.5s;
}

div.card-img {
    height: 20em;
}
.spacing{
    margin-right: 10px;
}
.slide-up {
    animation: slide-up 0.7s forwards ease-out;
}
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Make sure the container takes the full height of the card */
}
.card-container:hover {
    justify-content: flex-start; /* Slide .card-body up */
    transition: justify-content 0.5s ease-out;
}

@keyframes slide-up {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media screen and (max-width:720px) {
    div.card{
        width: 18em;
    }
}