.logo--navbar {
    height: 5em;
    width: 13em;
    padding: 0.6em;
    margin-left: 7em;
    background: #000;
}
.navbar{
    background:#000;
    width: 100%;
    height: 6.5em;
}
nav{
    padding-top: 1.1em;
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    font-family: Raleway;
    text-decoration: none;
    color: #f2e5d1;
    margin-right: 4em;
}

nav ul li a.contact{
    margin-right: 6.5em;
}

nav ul li a:hover{
    text-decoration: none;
    color: white;
}

div.icon-menu{
    display: none;
    color: white;
    width: 25px;
}

div.icon-menu:active{
    border: 0;
}


.icon-menu:active{
    border: 0;
}
@media screen and (max-width:720px) {
    .logo--navbar {
        height: 5em;
        width: 9em;
        padding: 0.6em;
        margin-left: 2em;
        background: #000;
    }
    div.icon-menu {
        display: flex;
        position: absolute;
        right: 0; 
        margin-top: -12px !important; 
        margin-right: 15px !important;
        
    }
    nav ul li a{
        display: none;
    }
}

@media screen and (max-width:960px) {
    .logo--navbar {
        height: 5em;
        width: 13em;
        padding: 0.6em;
        margin-left: 2em;
        background: #000;
    }
    div.icon-menu {
        display: flex;
        position: absolute;
        right: 0; 
        margin-top: -12px !important; 
        margin-right: 30px !important;
    }
    nav ul li a{
        display: none;
    }
}

@media screen and (max-width:1105px) {
    .logo--navbar{
        margin-left: 2em;
    }
    nav ul li a{
        margin-right: 2.5em;
    }
  }