div,
p,
ul,
li {
    padding: 0px !important;
    margin: 0px !important;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 60px 50px !important;
}

.header--list {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
}

/*icon menu for mobile & tablet*/
.icon-bars {
    display: none;
}

/*sidenav for responsive*/
.sidenav {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #29323C;
    overflow-x: hidden;
    padding-top: 0px;
    transition: 0.5s;
}

@media screen and (max-width:600px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 25px 0px !important;
        padding-left: 5px;
    }    
    .header--list--item {
        display: none;
    }

    .logo{
        margin-left: 3em;
        display: block;
    }

    .icon-bars {
        background: none;
        display: block;
    }

}

@media screen and (min-width:900px) {}