.mainContent--introductoryContent {
    margin-bottom: 100px !important;
}

.mainContent--productContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1200px;
}