.productContent--title {
    text-align: center;
    font-family: 'Baskerville Old Face';
    margin-bottom: 20px !important;
}

div {
    margin: 0px !important;
    padding: 0px !important;
}

.i1 {
    grid-area: item1;
    background-image: url(../../../public/images/Rectangle\ 37.png);
    background-size: 100% !important;
    background-repeat: repeat !important;
}

.i2 {
    grid-area: item2;
    background-image: url(../../../public/images/Rectangle\ 39.png);
}

.i3 {
    grid-area: item3;
    background-image: url(../../../public/images/Rectangle\ 41.png);
}

.i4 {
    grid-area: item4;
    background-image: url(../../../public/images/Rectangle\ 42.png);
}

.i5 {
    grid-area: item5;
    background-image: url(../../../public/images/Rectangle\ 40.png);
}

.productContent--image-block--first {
    width: 1100px;
    height: 500px;
    margin-bottom: 150px !important;
    background-image: url(../../../public/images/cors-poivre-moulu-noir-arriere-plan-photo-haute-qualite.jpg);
    background-size: contain;
}

.productContent--image-block {
    display: grid;
    grid-template-areas: 'item1 item1 item2 item5'
        'item3 item4 item4 item5';
    grid-gap: 10px;
    width: 1100px;
    height: 500px;
    margin-bottom: 150px !important;
}

.productContent--image-item {
    background-repeat: no-repeat;
    background-size: 100%;
}