.product--list {
    display: flex;
    flex-direction: column;
}

.product--list--card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.productList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width:400px) {
    .product--filter {
        display: flex;
        flex-direction: column;
        top: 0;
    }

    .product--list {
        background-image: url(../../images/Rectangle\ 53.png);
        box-shadow: 1px 1px 5px black;
        margin-block: 10px 20px;
        padding-inline: 20px 20px;
        padding-block: 15px 15px;
        width: 100% !important;
    }

    /* .product--list--right {
        margin-left: 20%;
    } */

    .card--a {
        margin: 10px 10px;
    }

    .product--filter {
        width: 10vw;
    }

    .product--list--right {
        width: 70vw;
    }
}

@media (max-width:400px) {
    .product--filter {
        display: none;

    }

    .product--list {
        background-image: url(../../images/Rectangle\ 53.png);
        box-shadow: 1px 1px 5px black;
        margin-block: 5px 10px;
    }

    .product--list--card {
        padding-inline: 2px 2px;
        padding-block: 10px 10px;
        width: 100%;
    }
}

@media(max-width:1399px) {
    .sub-product {
        width: 100% !important;
    }

    .card--a {
        margin: 15px 15px;
    }
}

@media(max-width:1385px) {
    .sub-product {
        width: 100% !important;
    }

    .card--a {
        margin: 12px 12px;
    }
}

@media(max-width:1359px) {
    .sub-product {
        width: 100% !important;
    }

    .card--a {
        margin: 10px 10px;
    }
}

@media(max-width:1342px) {
    .sub-product {
        width: 100% !important;
    }

    .card--a {
        margin: 5px 5px !important;
    }
}

@media(max-width:1230px) {
    .sub-product {
        width: 77% !important;
    }

    .card--a {
        margin: 15px 15px;
    }
}

@media(max-width:1299px) {
    .sub-product {
        width: 100% !important;
    }

    .card--a {
        margin: 4px 4px !important;
    }
}

@media(max-width:1291px) {
    .sub-product {
        width: 75% !important;
    }

    .card--a {
        margin: 15px 15px !important;
    }
}

@media(max-width:1238px) {
    .sub-product {
        width: 77% !important;
    }
}

@media(max-width:1207px) {
    .sub-product {
        width: 80% !important;
    }
}

@media(max-width:1164px) {
    .sub-product {
        width: 83% !important;
    }
}

@media(max-width:1124px) {
    .sub-product {
        width: 85% !important;
    }
}

@media(max-width:1100px) {
    .sub-product {
        width: 88% !important;
    }
}

@media(max-width:1063px) {
    .sub-product {
        width: 91% !important;
    }
}

@media(max-width:1030px) {
    .sub-product {
        width: 94% !important;
    }
}

@media(max-width:997px) {
    .sub-product {
        width: 50% !important;
    }
}

@media(max-width:400px) {
    .sub-product {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 95vw !important;
    }

    .product--list--card {
        padding-inline: 0px 0px !important;
        padding-block: 10px 10px;
    }

    .card--a {
        margin: 6px 6px !important;
    }
}


@media(min-width:1400px) {
    .sub-product {
        width: 95% !important;
    }

    .card--a {
        margin: 15px 15px;
    }
}

@media(min-width:1500px) {
    .sub-product {
        width: 95% !important;
    }

    .card--a {
        margin: 15px 15px;
    }
}

@media(min-width:1550px) {
    .sub-product {
        width: 90% !important;
    }

    .card--a {
        margin: 15px 15px;
    }
}

@media(min-width:1600px) {
    .sub-product {
        width: 87% !important;
    }

    .card--a {
        margin: 15px 15px;
    }
}