body{
    font-family: Raleway;
}
div {
    width: 100%;
}
div.img2 h2 {
    padding-top: 0.5em;
    max-width: 22em;
}
div.img2 p {
    max-width: 35em;
    
}

.img1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 34em;
    
    background-image: url("../../images/Rectangle\ 10.png");
}

div.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}
div.card {
    width: 15em;
    height: 25em;
    display: inline-block;
    margin: 3em;
    border-radius: 10px;
}
div.card-img {
    height: 20em;
}
.img2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 31em;
    padding: 2em;
    background-image: url("../../images/Rectangle\ 49.png"),url("../../images/Rectangle\ 16.png");
}
.spacing{
    margin: 10px;
}
.img3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 77.3em;
    padding: 2em;
    background-image: url("../../images/Rectangle\ 51.png");
}
.img3 h1{
    padding: 10px !important;
}

.img-feuille{
    display: none;
    position: absolute;
    width: 10em;
    height: 15em;
    top: 10em;
    background-size: contain;
    background-image: url("../../images/Leaves\ 1.png");
}
div img .img-font {
    background-size: cover;
    width: 90%;
    overflow: 0;
}
.block {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    background-image: url("../../images/Rectangle\ 53.png");
}
.block p {
    padding: 25px !important;
}

.slide-left {
    animation: slide-left 0.8s forwards ease-out;
}
.slide-right {
    animation: slide-right 0.8s forwards ease-out;
}

p.slide-left {
    animation-delay: 0.5s;
    opacity: 0;
}
button.slide-left{
    animation-delay: 1s;
    opacity: 0;
}
.engagements {

}
.valeurs{
    padding-top: 5em;
}

@keyframes slide-left{
    0% {
        transform: translate(100px);
        opacity: 0;
    }
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}
@keyframes slide-right{
    0% {
        transform: translate(0);
        opacity: 0;
    }
    100% {
        transform: translate(100px);
        opacity: 1;
    }
}

@media screen and (max-width:920px) {
    div.img1{
        height: 50em;
    }
    div.img3{
        height: 103em;
    }
    div.img3 h1{
        margin-top: 2em ;
    }
}

@media screen and (max-width:720px) {
    div.img1{
        height: 95em;
    }
    div.img2 {          
        width: 100%;
        object-fit: cover;
    }
    div.img2 .container {
        height: 36em;
        max-width: 100%;
        padding: 3em;
    }
    div.img3{
        height: 80em;
    }
    .engagements{
        padding-top: 2em;

    }
    .valeurs{
        padding-top: 0em;
    }
    .block{
        height: 100%;
        padding: 0;
    }
    .img2 button {
        font-size: 14px;
    }
    .img2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        background: radial-gradient(red,darkred)
    }
    .block p {
        
        font-size: 14px;
    }
}

@media screen and (max-width:420px) {
    div.img1 {
        height: 95em;
    }
    div.card {
        height: 23em;
    }
    div.img2 {          
        width: auto;
        object-fit: cover;
    }
    div.img2 .container {
        max-width: 100%;
        padding: 3em;
    }
    div.img3{
        height: 100em;
    }
    .block{
        height: 40em;
    }
}

@media screen and (max-width:1000px) {
    .img1{
        height: 60em;
    }
}