.home--header {
    margin-bottom: 100px !important;
}

.home {
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 300px !important;
    background-color: black;
}

div,
p,
ul,
li {
    padding: 0px !important;
    margin: 0px !important;
}

.home--footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 100px 100px !important;
}

.home-background {
    background-image: url(../../../public/images/Rectangle\ 34\ \(1\).png);
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
}

.mainContent--image {
    margin-bottom: 100px !important;
}

.mainContent--image--foot--down {
    height: 500px;
    background-image: url(../../../public/images/Spices3\ 1.png);
    background-size: contain;
}


.mainContent--image--foot--up {
    height: 500px;
    background-image: url(../../../public/images/Rectangle\ 49.png);
    background-size: cover;
}

.home--mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1300px;
}