.product--header--image {
    background-image: url(../../images/Group\ 2\ \(1\).png);
    background-position: bottom;
    height: 98vh;
}

@media (min-width:400px) {

    body::-webkit-scrollbar {
        display: none;
    }

    .product--sorting {
        display: none;
    }

    .product {
        background-image: url(../../images/Rectangle\ 51.png);
        z-index: -1;
    }

    .product--body {
        padding-block: 10vh 10vh;
    }

    .leave--up {
        position: absolute;
        z-index: 5;
        right: 0;
        top: 100em;
    }

    .leave--down {
        position: absolute;
        z-index: 5;
        left: 0;
        top: 0;
    }

    .leave--up--animation {
        position: absolute;
        z-index: 5;
        right: 0;
        top: 100em;
        animation-name: leave;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }

    @keyframes leave {
        0% {
            display: none;
        }

        20% {
            display: block;
            opacity: 0.2;
        }

        40% {
            display: block;
            opacity: 0.4;
        }

        60% {
            display: block;
            opacity: 0.6;
        }

        80% {
            display: block;
            opacity: 0.8;
        }

        100% {
            display: block;
            opacity: 1;
        }
    }
}

@media screen and (max-width:400px) {

    .leave--up,
    .leave--down {
        display: none;
    }

    .product--sorting {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .right--sorting {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .filter--product {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    .filter--product p {
        margin: 0;
        padding-inline: 5px 5px;
        font-size: 14px;
    }

    .filter--product i {
        padding-inline: 3px 3px;
        font-size: 30px;
    }

    .product--body--list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .product--body--list .card-a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }
}