.products-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../../../images/produit.png);
  height: 100vh;
  width: 100%;
  background-position: bottom;
  background-size: 100% 100vh;
}

.products a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

@media (max-width: 600px) {
  .products-header {
    background-size: cover;
  }

  .header--text {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }

  .products--body {
    margin-top: 2rem;
  }

  .products {
    background-color: beige;
  }

  .products--products--list,
  .products-filter--bar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 999px) {
  .leave--up,
  .leave--down {
    display: none;
  }
}
@media (min-width: 1000px) {
  .products-header {
    position: relative;
  }
  .leave--up {
    position: absolute;
    display: block;
    height: 30rem;
    width: 20rem;
    right: 0;
    top: 100vh;
    z-index: 1;
  }
  .products-footer {
    position: relative;
  }

  .leave--down {
    position: absolute;
    display: block;
    height: 30rem;
    width: 20rem;
    left: 0;
    top: -40rem;
  }

  .products--products--list {
    position: relative;
    z-index: 2;
  }
}

@media (min-width: 600px) {
  .products-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../../../images/produit.png);
    height: 100vh;
    width: 100%;
    background-position: bottom;
  }

  .header--text {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 64px;
  }

  .products--body {
    margin-top: 2rem;
  }

  .products {
    background-color: beige;
  }

  .products--products--list {
    margin-bottom: 5rem;
  }

  .products--products--list,
  .products-filter--bar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
