@media (min-width: 670px) {
  .products-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../../../images/produit.png);
    height: 82vh;
    width: 100%;
  }

  .header--text {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 64px;
  }

  .products--body {
    margin-top: 2rem;
  }

  .products {
    background-color: beige;
  }

  .products--products--list,
  .products-filter--bar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
