.App {
  text-align: center;
  margin: 0px !important;
  padding: 0px !important;

}


body {
  background-color: rgba(15, 14, 14, 0.853) !important;
  color: white !important;
  margin: 0px !important;
  padding: 0px !important;
}