.products {
    background-image: url(../../../images/Rectangle\ 51.png);
    background-size: 100vw fit-content;
}

@media (min-width: 390px) {


    .products {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: 4rem 4rem;
    }

    .products h1 {
        text-align: center;
    }

    .product--header--image {
        height: 90vh;
        background-image: url(../../../images/produit.png);
        background-size: 100vw 90vh;
    }

    .product--header--text {
        font-size: 10vh;
        letter-spacing: 0.5vh;
    }

    .list-filter {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    label {
        border-inline: 1px dotted white;
        padding-inline: 4px 4px;
    }

    label:hover {
        font-weight: bold;
    }

    label input {
        display: none;
    }

    .hr {
        width: 24rem;
        height: 2px;
        margin: auto;
        margin-block: 1rem 1rem;
        background-color: aliceblue;
        border: 1 solid white;
    }
}

@media (min-width:900px) {
    .products {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-block: 4rem 4rem;
    }

    .product--header--image {
        height: 90vh;
        background-image: url(../../../images/produit.png);
        background-size: 100vw 90vh;
    }

    .product--header--text {
        font-size: 10vh;
        letter-spacing: 0.5vh;
    }

    .product--left--page {
        margin-inline: 5rem 5rem;
    }

    .list-filter {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .product--right--page {
        margin-inline: 5rem 5rem;
    }

    label {
        border-inline: 1px dotted white;
        padding-inline: 6px 6px;
    }

    label:hover {
        font-weight: bold;
    }

    label input {
        display: none;
    }

    .hr {
        width: 750px;
        height: 2px;
        margin: auto;
        margin-block: 1rem 1rem;
        background-color: aliceblue;
        border: 1 solid white;
    }
}

@media (min-width: 670px) {
    .products {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-block: 4rem 4rem;
    }

    .product--header--image {
        height: 90vh;
        background-image: url(../../../images/produit.png);
        background-size: 100vw 90vh;
    }

    .product--header--text {
        font-size: 10vh;
        letter-spacing: 0.5vh;
    }

    .product--left--page {
        margin-inline: 5rem 5rem;
    }

    .list-filter {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .product--right--page {
        margin-inline: 5rem 5rem;
    }

    label {
        border-inline: 1px dotted white;
        padding-inline: 6px 6px;
    }

    label:hover {
        font-weight: bold;
    }

    label input {
        display: none;
    }

    .hr {
        width: 32rem;
        height: 2px;
        margin: auto;
        margin-block: 1rem 1rem;
        background-color: aliceblue;
        border: 1 solid white;
    }
}

@media (min-width:1000px) {
    .products {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding-block: 4rem 4rem;
    }

    .product--header--image {
        height: 90vh;
        background-image: url(../../../images/produit.png);
        background-size: 100vw 90vh;
    }

    .product--header--text {
        font-size: 10vh;
        letter-spacing: 0.5vh;
    }

    .product--left--page {
        margin-inline: 5rem 2rem;
    }

    .list-filter {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }

    label {
        font-size: 18px;
        font-weight: bold;
        border: none;
    }

    label input {
        display: inline;
    }

    .product--right--page {
        margin-inline: 2rem 5rem;
    }

    .hr {
        display: none;
    }
}

@media (max-width: 390px) {
    .products {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: 4rem 4rem;
    }

    .products h1 {
        text-align: center;
    }

    .product--header--image {
        height: 90vh;
        background-image: url(../../../images/produit.png);
        background-size: 100vw 90vh;
    }

    .product--header--text {
        font-size: 10vh;
        letter-spacing: 0.5vh;
    }

    .list-filter {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    label {
        border-inline: 1px dotted white;
        padding-inline: 3px 3px;
        font-size: 14px;
    }

    label:hover {
        font-weight: bold;
    }

    label input {
        display: none;
    }

    .hr {
        width: 18rem;
        height: 2px;
        margin: auto;
        margin-block: 1rem 1rem;
        background-color: aliceblue;
        border: 1 solid white;
    }
}